body{ 
    font-family: 'Montserrat', sans-serif; 
    background-color:#F5F7FA;}
.main-container { 
    display: flex;
    flex-direction:row-reverse; 
    width: 1200px; 
    background: #ffff;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 1);
}
    

/* Main content section */
.main-content {
    padding: 100px 90px;
}

.main-content-title {
    font-style: normal;
    font-size: 22px; 
    font-weight: bold;
    line-height: 27px; 
    color: #000;
    margin-bottom: 10px;
}

.about-me {
    margin-bottom: 40px;

}


.about-me-profession {
    font-style: normal;
    font-size: 14px; 
    font-weight: bold;
    line-height: 17px; 
    color: #000;
    margin-bottom: 20px;
}

.about-me-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 25px;
}

.about-me-description {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959
}

.projects-section {
    margin-bottom: 50px;

}

.projects-list {
    padding: 0 0 0 17px;
}

.project-item {
    color: #000;
    font-weight: bold;
}

.projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959
}

.projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}


.work-expirience-name-company {
    color: #FB6D3A;
}

.work-expirience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 10px 0;

}

.work-expirience-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;
}

.time-divider {
    color: #000;
}

.duties-list {
    padding: 0 0 0 18px;
}

.duty-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959
}

.work-expirience-company {
    margin: 0 15px 0 0;
}


.education-place {
    color: #FB6D3A;

}

.education-speciallity {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin: 0 0 10px 0;

}

.education-time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin: 0 0 10px 0;

}

.education-time-divider {
    color: #000;
}


/* sidebar section */
.sidebar {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;}
.contacts, 
.tech,
.soft { margin: 40px 0 0 50px;}

.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}
/* Contacts section */
.contact-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 5px;
    padding: 0 0 0 1px;

}
.contact-link {
    color: #565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
/* Tech skills section */
.tech-list { 
    padding: 0 0 0 17px;

}
.tech-item {
    color: #FB6D3A;
}
.tech-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}
/* Soft skills section */

.soft-list {
    padding: 0 0 0 17px;
}
.soft-item {
    color: #FB6D3A;
}
.soft-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}